.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #323336;
  color: white;
  
}

.logo {
  width: 50px;        /* controla o tamanho */
  height: 50px;
  border-radius: 50%; /* 🔥 ISSO DEIXA REDONDO */
  object-fit: cover;
}

.logo-text {
  font-size: 20px;
  margin-left: 10px;
}
.logo-img {
  width: 60px;
  height: 60px;       /* 🔥 IGUAL ao width */
  border-radius: 50%;
  object-fit: cover;
}
.search {
  padding: 8px;
  width: 250px;
}

.menu a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 70px;
  background: #323336;
  color: white;
}

.left, .center, .right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
}

.right {
  gap: 15px;
}

.text-link {
  font-weight: bold;
}

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}