.hero {
  height: 80vh;
background-image: url('../Images/mb.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: white;
}

.hero-text h1 {
  font-size: 48px;

}

.hero-text p {
  font-size: 20px;
  margin: 10px 0;
}

.hero-text button {
  padding: 10px 20px;
  background: white;
  border: none;
  cursor: pointer;
  
}
.logo {
  width: 100px;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 70px; /* define altura fixa */
  background: #111;
}

.search {
  padding: 8px;
  width: 200px;
  margin: 0 20px; /* espaço entre os elementos */
}

.menu {
  display: flex;
  gap: 15px; /* espaço entre Login e Carrinho */
}