# Configurações do Banco de Dados
DB_URL=jdbc:mysql://127.0.0.1:3306/app_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
DB_USER=app_user
DB_PASS=app_pass

# Configuração do JWT (Segurança)
# O secret deve ser uma chave Base64 longa em produção
JWT_SECRET=sUsCUX0i9eYOYbj0aan1bVo9LxWpQRTrCxq+XRTPQrM=
JWT_EXPIRATION=86400000

# Outras configurações (opcional)
CORS_ORIGINS=*
