# Configuracoes do banco Aiven
DB_URL=jdbc:mysql://<host-aiven>:<porta>/<database>?ssl-mode=REQUIRED
DB_USER=avnadmin
DB_PASS=<senha-do-aiven>

# Configuração do JWT (Segurança)
# O secret deve ser uma chave Base64 longa em produção
JWT_SECRET=sUsCUX0i9eYOYbj0aan1bVo9LxWpQRTrCxq+XRTPQrM=
JWT_EXPIRATION=86400000

# Outras configurações (opcional)
CORS_ORIGINS=*
